streamlit
pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
altair
requests
langchain
langchain-openai
langchain-chroma
beautifulsoup4
tiktoken
kaggle
pygwalker
plotly
statsmodels
nbformat